In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("equivalencia.xlsx")

In [14]:
data.std(axis=0)

125      2202.902330
250      4351.511201
500      5826.432618
750      7924.177351
1000    10046.480175
1500    14274.572140
2000    18176.115766
2500    22393.253048
3000    26863.028910
3500    31583.999210
4000    29787.089174
4500    29788.597208
5000    32145.240143
5500    33939.739257
6000    36083.345989
6500    40718.399853
7000    40214.067873
7500    42664.372656
8000    49203.015439
8500    14801.506834
dtype: float64

In [5]:
data.mean(axis=0)

125       2049.660256
250       4131.894231
500       5717.576052
750       7799.344156
1000     10700.473118
1500     15427.886364
2000     24875.306533
2500     33468.559524
3000     41646.409396
3500     50485.560606
4000     59062.692308
4500     76837.320513
5000     87628.521127
5500    101092.838710
6000    114926.166667
6500    123175.117647
7000    140262.068182
7500    154999.315789
8000    131074.090909
8500    122353.166667
dtype: float64

In [8]:
data.dtypes

Code     object
125       int64
250       int64
500     float64
750     float64
1000    float64
1500    float64
2000    float64
2500    float64
3000    float64
3500    float64
4000    float64
4500    float64
5000    float64
5500    float64
6000    float64
6500    float64
7000    float64
7500    float64
8000    float64
8500    float64
dtype: object

In [15]:
data.describe()

,125,250,500,750,1000,1500,2000,2500,3000,3500,4000,4500,5000,5500,6000,6500,7000,7500,8000,8500
count,312.000000,312.000000,309.000000,308.000000,279.000000,264.000000,199.000000,168.000000,149.000000,132.000000,104.000000,78.000000,71.000000,62.000000,54.000000,51.000000,44.000000,38.000000,11.000000,6.000000
mean,2049.660256,4131.894231,5717.576052,7799.344156,10700.473118,15427.886364,24875.306533,33468.559524,41646.409396,50485.560606,59062.692308,76837.320513,87628.521127,101092.838710,114926.166667,123175.117647,140262.068182,154999.315789,131074.090909,122353.166667
std,2202.902330,4351.511201,5826.432618,7924.177351,10046.480175,14274.572140,18176.115766,22393.253048,26863.028910,31583.999210,29787.089174,29788.597208,32145.240143,33939.739257,36083.345989,40718.399853,40214.067873,42664.372656,49203.015439,14801.506834
min,27.000000,54.000000,87.000000,116.000000,225.000000,309.000000,973.000000,1161.000000,4047.000000,6304.000000,7004.000000,7691.000000,8367.000000,44546.000000,61965.000000,65125.000000,75433.000000,78744.000000,81828.000000,98752.000000
25%,446.750000,896.250000,1485.000000,2013.750000,3404.000000,4846.000000,13496.500000,17768.500000,21730.000000,26468.500000,27210.000000,55848.500000,61044.000000,67170.250000,86859.750000,89019.000000,106791.000000,118503.500000,104887.000000,119688.750000
50%,1598.000000,3266.000000,4585.000000,6212.000000,7812.000000,11356.500000,17973.000000,29557.000000,36919.000000,44009.500000,54788.000000,73425.000000,85475.000000,96903.000000,112396.500000,117643.000000,132651.000000,157662.000000,118444.000000,123934.000000
75%,2912.000000,5891.000000,8200.000000,11325.500000,16176.000000,22586.500000,32442.000000,44640.750000,56441.000000,68043.250000,79382.250000,98139.750000,112632.500000,131607.000000,140292.000000,148734.000000,166423.000000,200291.000000,130778.000000,124133.000000
max,23103.000000,46206.000000,59318.000000,78480.000000,96559.000000,130620.000000,162820.000000,193740.000000,223700.000000,252901.000000,119255.000000,133865.000000,148512.000000,163196.000000,177916.000000,192517.000000,203465.000000,214166.000000,224632.000000,145026.000000